{% extends 'base.html' %}
{% load static %}
<div class="container">
      {%block kirish%}
    <section class="py-3" style="background-image: url('{% static 'images/background-pattern.jpg'%}');background-repeat: no-repeat;background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="banner-blocks">

              <div class="banner-ad large bg-info block-1">
                <div class="swiper main-swiper">
                  <div class="swiper-wrapper">
{% for product in product_max_discount %}
    {% if product.discount > 0 %}
        <div class="swiper-slide">
            <div class="row banner-content p-5">
                <div class="content-wrapper col-md-7">
                    <div class="categories my-1">{{ product.category.name }}</div>
                    <h3 class="display-4">{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <a href="{% url 'product_detail' product.slug %}" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">
                        Shop Now
                    </a>
                </div>
                <div class="img-wrapper col-md-5">
                    {% if product.images.all %}
                        <img src="{{ product.images.first.image.url }}" class="img-fluid" alt="{{ product.name }}">
                    {% else %}
                        <img src="/static/default-image.jpg" class="img-fluid" alt="No Image">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}


                  </div>
                  <!-- Swiper pagination qo'shish -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>

              <div class="banner-ad bg-success-subtle block-2" style="background:url('{{object_list.0.image.url}}') no-repeat;background-position: right bottom">
                <div class="row banner-content p-5">

                  <div class="content-wrapper col-md-7">
                    <h3 class="banner-title">{{object_list.0.name}}</h3>
                    <div class="categories sale mb-3 pb-3">{{object_list.0.discount}}</div>
                    <h3 class="banner-title">{{object_list.0.description}}</h3>
                    <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                  </div>

                </div>
              </div>
              <div class="banner-ad bg-danger block-3" style="background:url('{{object_list.1.image.url}}') no-repeat;background-position: right bottom">
                <div class="row banner-content p-5">

                  <div class="content-wrapper col-md-7">
                    <h3 class="item-title">{{object_list.1.name}}</h3>
                    <div class="categories sale mb-3 pb-3">{{object_list.1.discount}}</div>
                    <h3 class="item-title">{{object_list.1.description}}</h3>
                    <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                  </div>

                </div>
              </div>

            </div>
            <!-- / Banner Blocks -->

          </div>
        </div>
      </div>
    </section>
    {%endblock kirish%}

    {% block content %}

    <section class="py-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="section-header d-flex flex-wrap justify-content-between mb-5">
              <h2 class="section-title">Category</h2>

              <div class="d-flex align-items-center">
                <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                <div class="swiper-buttons">
                  <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                  <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="category-carousel swiper">
              <div class="swiper-wrapper">
                  {% for category in categories %}
                  <a href="{% url 'category_detail' category.slug %}" class="nav-link category-item swiper-slide">
                  <img src="{{category.image.url}}" alt="Category Thumbnail">
                  <h3 class="category-title">{{category.name}}</h3>
                  </a>
                  {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="bootstrap-tabs product-tabs">
          <div class="tabs-header d-flex justify-content-between border-bottom my-5">
            <h3> Products</h3>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all">All</a>
                {% for category in categories %}
                  <a href="#" class="nav-link text-uppercase fs-6" id="{{ category.slug }}-tab" data-bs-toggle="tab" data-bs-target="#{{ category.slug }}">
                    {{ category.name }}
                  </a>
                {% endfor %}
              </div>
            </nav>
          </div>

          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for product in products %}
                 <div class="col-md-3 col-sm-6 mb-4">
  <a href="{% url 'product_detail' product.slug %}" class="card border-0 shadow-sm text-decoration-none h-100 d-flex flex-column">
    <div class="position-relative">
      <span class="badge bg-success position-absolute top-0 start-0 m-2">{{ product.name }}</span>
      <div id="imageSlider-{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for image in product.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image.image.url }}" class="d-block w-100 rounded-top" alt="{{ product.name }}" style="height: 250px; object-fit: cover;">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-body text-center d-flex flex-column flex-grow-1 justify-content-between">
      <h5 class="card-title text-truncate">{{ product.name }}</h5>
      <p class="card-text">
        <span class="price fw-bold">${{ product.price }}/{{ product.volume }}</span>
      </p>
    </div>
  </a>
</div>

                {% endfor %}
              </div>
            </div>

            {% for category in categories %}
              <div class="tab-pane fade" id="{{ category.slug }}" role="tabpanel">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                  {% for product in products %}
                    {% if product.category == category %}
               <div class="col-md-3 col-sm-6 mb-4">
  <a href="{% url 'product_detail' product.slug %}" class="card border-0 shadow-sm text-decoration-none h-100 d-flex flex-column">
    <div class="position-relative">
      <span class="badge bg-success position-absolute top-0 start-0 m-2">{{ product.name }}</span>
      <div id="imageSlider-{{ product.slug }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for image in product.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image.image.url }}" class="d-block w-100 rounded-top" alt="{{ product.name }}" style="height: 250px; object-fit: cover;">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
</div>

                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <section class="py-5">
      <div class="container-fluid">

        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('{% static 'images/bg-leaves-img-pattern.png' %}') no-repeat;">
          <div class="container my-5">
            <div class="row">
              <div class="col-md-6 p-5">
                <div class="section-header">
                  <h2 class="section-title display-4">Get <span class="text-primary">25% Discount</span> on your first purchase</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
              </div>
              <div class="col-md-6 p-5">
                <form>
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text"
                      class="form-control form-control-lg" name="name" id="name" placeholder="Name">
                  </div>
                  <div class="mb-3">
                    <label for="#" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="abc@mail.com">
                  </div>
                  <div class="form-check form-check-inline mb-3">
                    <label class="form-check-label" for="subscribe">
                    <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                    Subscribe to the newsletter</label>
                  </div>
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                  </div>
                </form>

              </div>

            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="latest-blog" class="py-5">
      <div class="container-fluid">
        <div class="row">
          <div class="section-header d-flex align-items-center justify-content-between my-5">
            <h2 class="section-title">Our Recent Blog</h2>
            <div class="btn-wrap align-right">
              <a href="#" class="d-flex align-items-center nav-link">Read All Articles <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <article class="post-item card border-0 shadow-sm p-3">
              <div class="image-holder zoom-effect">
                <a href="#">
                  <img src="{% static 'images/post-thumb-1.jpg'%}" alt="post" class="card-img-top">
                </a>
              </div>
              <div class="card-body">
                <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                  <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>22 Aug 2021</div>
                  <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>tips & tricks</div>
                </div>
                <div class="post-header">
                  <h3 class="post-title">
                    <a href="#" class="text-decoration-none">Top 10 casual look ideas to dress up your kids</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec quam. A in arcu, hendrerit neque dolor morbi...</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="post-item card border-0 shadow-sm p-3">
              <div class="image-holder zoom-effect">
                <a href="#">
                  <img src="{% static 'images/post-thumb-2.jpg'%}" alt="post" class="card-img-top">
                </a>
              </div>
              <div class="card-body">
                <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                  <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>25 Aug 2021</div>
                  <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>trending</div>
                </div>
                <div class="post-header">
                  <h3 class="post-title">
                    <a href="#" class="text-decoration-none">Latest trends of wearing street wears supremely</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec quam. A in arcu, hendrerit neque dolor morbi...</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="post-item card border-0 shadow-sm p-3">
              <div class="image-holder zoom-effect">
                <a href="#">
                  <img src="{% static 'images/post-thumb-3.jpg'%}" alt="post" class="card-img-top">
                </a>
              </div>
              <div class="card-body">
                <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                  <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>28 Aug 2021</div>
                  <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>inspiration</div>
                </div>
                <div class="post-header">
                  <h3 class="post-title">
                    <a href="#" class="text-decoration-none">10 Different Types of comfortable clothes ideas for women</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec quam. A in arcu, hendrerit neque dolor morbi...</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 my-5">
      <div class="container-fluid">

        <div class="bg-warning py-5 rounded-5" style="background-image: url('{% static 'images/bg-pattern-2.png' %}') no-repeat;">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <img src="{% static 'images/phone.png' %}" alt="phone" class="image-float img-fluid">
              </div>
              <div class="col-md-8">
                <h2 class="my-5">Bizning sayt orqali mahsulotlarga buyurtma bering</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames semper erat ac in suspendisse iaculis. Amet blandit tortor praesent ante vitae. A, enim pretiummi senectus magna. Sagittis sed ptibus liberolectus non et psryroin.</p>
                <div class="d-flex gap-2 flex-wrap">
                  <img src="{% static 'images/app-store.jpg'%}" alt="app-store">
                  <img src="{% static 'images/google-play.jpg'%}" alt="google-play">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
</div>
    {% endblock content %}
